@import "tailwindcss";

/* modifica el layer de base */
/* @layer base {
  body {
    background-image: url('../img/pattern.png');
  }
} */


/* Fuentes */



@font-face {
  font-family: "TrebuchetMS";
  src: url('/fonts/TrebuchetMS.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url('/fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url('/fonts/websymbols-regular-webfont.eot');
  src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/websymbols-regular-webfont.woff') format('woff'),
    url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
    url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* se puede usar la clase o la sintaxis de tailwind font-[WebSymbolsRegular] */
.symbol {
  font-family: "WebSymbolsRegular";
}

@theme {
  --color-azul-claro: #37bcf9;
  --color-azul-oscuro: #0370b9
}


.menu-item{
@apply   mx-5
          tracking-wider
          flex-none
}

.menu-item-a{
@apply  block
          transition
          duration-200
          hover:text-azul-claro
          transform
          hover:scale-125
}