@import "tailwindcss";

/* modifica el layer de base */
/* @layer base {
  body {
    background-image: url('../img/pattern.png');
  }
} */


/* Fuentes */



@font-face {
  font-family: "TrebuchetMS";
  src: url('/fonts/TrebuchetMS.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url('/fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url('/fonts/websymbols-regular-webfont.eot');
  src: url('/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/websymbols-regular-webfont.woff') format('woff'),
    url('/fonts/websymbols-regular-webfont.ttf') format('truetype'),
    url('/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* se puede usar la clase o la sintaxis de tailwind font-[WebSymbolsRegular] */
.symbol {
  font-family: "WebSymbolsRegular";
}

@theme {
  --color-azul-claro: #37bcf9;
  --color-azul-oscuro: #0370b9;
  --animate-spin-low: spin 2s infinite linear;

  --animate-lord: lord 500ms linear;

   --animate-lord-r: lord-r 300ms linear;

   --animate-back-banner: back-banner 3s linear ;

  @keyframes lord {
    0% {
      transform: translateY(0%)
    }

    50% {
      transform: translateY(200%)
    }

    100% {
      transform: translateY(0%)
    }
  }

  @keyframes lord-r{

    0% {
      transform: translateX(200%)
    }


    100% {
      transform: translateX(0%)
    }

  }

  @keyframes back-banner {
    0% {
background-position: 0px 0px

    }
    100% {

background-position: -300px -200px
    }
  }

  --screen-xs: {
    max-width: 768px;
  }


}



.menu-item {
  @apply 
  mx-5 
  tracking-wider 
  flex-none
  max-[768px]:flex-1
  max-[768px]:mx-0
}

.menu-item-a {
  @apply block transition duration-200 hover:text-azul-claro transform hover:scale-125
}

.text-banner{
  text-shadow: 2px 2px 1px black;

}

.bg-position-banner{
  background-position: -300px -200px
}

.card {
  @apply 
  flex-1
 h-80
 border-2
 border-gray-200
 shadow-md
 bg-white
 overflow-hidden
 m-5
 px-5 
}